.randomSieve {
    margin: 30px auto;
    font-size: 1.6rem;
    text-align: center;
    width: 70%;

        table {
            border: solid 2px #000;
            margin: 30px auto;
            font-size: 1.6rem;
        }
        th {
            border: solid #000 2px;
            background: #bebebe;
            width: 5vw;
            height: 3vh;
            border-radius: 0;
            font-size: 1.6rem;
        }
        td {
            border: solid #000 2px;
            background: #bebebe;
            width: 5vw;
            height: 3vh;
            border-radius: 0;
            font-size: 1.6rem;
        }
}